/* dodgerblue */
body{
    margin: 0;
}

.page-container {
    line-height: 0.9 !important;
    display: flex;
    justify-content: center;
    position:relative;
    overflow: hidden;
    /* padding: 0.2cm; */
    page-break-after:auto;
    width: 21.0cm;
    height: 29.7cm;
    border: 1px solid #cecece;
    background-color: #fff;
    margin:0;
}   
h1 {
    margin: 10px 0 10px 0;
}
.bullet-line{
    margin-left:18px ;
}
.cv-container {
    /* font-family: 'Montserrat',
        'Noto Sans SC'; */
    font-family: 'Work Sans';
    /* letter-spacing: 0.5px; */
    /* font-family: 'Times New Roman'; */
    line-height: 1.6;
    font-size: 12pt;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    /* width: 50%; */
    height: 100%;
    flex-direction: column;

}
.cv-title {
    color: #222222;
}
.cv-description {}

.cv-section-title {
    /* letter-spacing: 1px; */
    font-weight: 600;
    margin: 10px 0 5px 0 !important;
    font-size: 14pt;
    color: #016EF1;
    text-transform: capitalize;
    /* font-size:16px; */
}

.cv-experience-row {
    display: flex;
    justify-content: space-between;
    /* margin: 5px 0 5px 0; */
}

.cv-experience-location {
    font-size: 13pt;
    font-weight: 500;
}

.cv-experience-role {
    color: #222222;
    font-size: 12pt;
    margin-left: 5px;
    font-weight: 500;
    opacity: 0.9;
}

.cv-experience-detail {
    font-size: 12pt;
}

.cv-list-contribution {
    padding: 0;
    list-style-type: none;
    margin: 10px 0 10px 5px;

}



.cv-list-contribution>li:before {
    content: '-';
    color: #016EF1;
    /* padding: 20px; */
    font-weight: bold;

    padding: 0 10px 0 0px;
}



.separator {
    color: gainsboro;
    opacity: 0.3;
    width: 100%;
}

.cv-link {
    color: #016EF1;
    font-weight: 500;
}

.cv-link:visited {
    color: #016EF1;
}

.skill-row {
    -webkit-print-color-adjust: exact;
    display: flex;
    flex-direction: row;
}

.skill-item {
    background-color: #e3eefd;
    padding: 0 5px 0 5px;
    border-radius: 2px;
    margin: 0 2px 0 2px;
    color: #016EF1;
    /* font-family: 'Montserrat'; */
    font-weight: 500;

}

.skill-row {
    margin-bottom: 2px;
}

.contact-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */

}
.contact-container{
    display:flex;
    justify-content: space-between;
}
.contact-type {
    display: flex;
    margin-right: 10px;
    font-size: 12pt;
}

#pprojects {
    margin: 0;
}

.contact {
    /* font-family: 'Work Sans'; */
    font-weight: 500;
}

.contact-underlined-item {
    text-decoration: none;
    color: #222222;

}

.contact-underline {
    margin: -2px;
    background-color: dodgerblue;
    width: 100%;
    height: 0.4px;
    color: #016EF1;
}
